name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: ["ubuntu", "macos", "windows"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Tweak environment.yml in OSX
      if: runner.os == 'macos'
      run: sed -i '' '/libudev/d' environment.yml
    - name: Tweak environment.yml in Windows
      if: runner.os == 'windows'
      run: (Get-Content environment.yml) -notmatch "libudev" | Set-Content environment.yml

      
    - name: Show dependency file
      run: cat environment.yml
      
    - name: Install Mamba
      uses: conda-incubator/setup-miniconda@v3
      with:
        environment-file: environment.yml
        cache-environment: false
        cache-downloads: true
        activate-environment: cycles
        auto-activate-base: false
        miniforge-version: latest
        
    - name: List environment
      run: |
        conda list
    
    - name: Configure and compile the library
      run: |
        if [ "${{ runner.os }}" == "Linux" ]; then
          # Fix sfml bug (Linux only)
          ln -s $CONDA_PREFIX/lib/libudev.so.1 $CONDA_PREFIX/lib/libudev.so.0
        fi
        mkdir build && cd build
        cmake -DCMAKE_VERBOSE_MAKEFILE=yes -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -G Ninja ..
        cmake --build .
                
    - name: Run tests
      run: |
        cd build
        ctest --output-on-failure
